*.zip
clipboard-indicator@tudmotu.com/
compiz-alike-magic-lamp-effect@hermes83.github.com/
compiz-windows-effect@hermes83.github.com/
shamsi-calendar@gnome.scr.ir/
unite@hardpixel.eu/
pop-cosmic@system76.com/
pop-shell@system76.com/
popx11gestures@system76.com/
system76-power@system76.com/
usr/share/gnome-shell/extensions/**

